.example-spacer {
    flex: 1 1 auto;
  }
mat-toolbar{
    background-color:midnightblue;
}

a{
    color: white;
}

.bg{
        /* The image used */
        background-image: url("/assets/bhImage.png");
        filter: blur(3px);
  -webkit-filter: blur(3px);   

        /* Half height */
        height: 85%;
        /* Center and scale the image nicely */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(25,25,112, 0.3); /* Black w/opacity/see-through */
    color: midnightblue;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: left;
  }
