
    <mat-toolbar>
        <span><h1>The Community</h1></span>
        <span class="example-spacer"></span>
        <button  type="button" class="btn btn-light" (click)="openRegistrationForm()">Register</button>
        &nbsp; &nbsp;
        <button type="button" class="btn btn-light" (click)="openLoginForm()">Login</button>
    </mat-toolbar>
    <div class="bg">
    </div>

    <div class="bg-text">
        <span><h1><b>THE COMMUNITY</b></h1></span><br>
        <span>Find Solutions, Ask Questions, Share Ideas</span><br>
        <span>Connect with users across the world</span>
      </div>
